In [2]:
 #importing the necessary libraries for analysis
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns

In [2]:
data = pd.read_csv('Datasets/LoansData.csv')
data.head(5)

,Amount_Requested,Amount_Funded_By_Investors,Interest_Rate,Loan_Length,Loan_Purpose,Debt_To_Income_Ratio,State,Home_Ownership,Monthly_Income,FICO_Range,Open_CREDIT_Lines,Revolving_CREDIT_Balance,Inquiries_in_the_Last_6_Months,Employment_Length
0,20000.0,20000.0,8.90%,36 months,debt_consolidation,14.90%,SC,MORTGAGE,6541.67,735-739,14.0,14272.0,2.0,< 1 year
1,19200.0,19200.0,12.12%,36 months,debt_consolidation,28.36%,TX,MORTGAGE,4583.33,715-719,12.0,11140.0,1.0,2 years
2,35000.0,35000.0,21.98%,60 months,debt_consolidation,23.81%,CA,MORTGAGE,11500.00,690-694,14.0,21977.0,1.0,2 years
3,10000.0,9975.0,9.99%,36 months,debt_consolidation,14.30%,KS,MORTGAGE,3833.33,695-699,10.0,9346.0,0.0,5 years
4,12000.0,12000.0,11.71%,36 months,credit_card,18.78%,NJ,RENT,3195.00,695-699,11.0,14469.0,0.0,9 years

In [3]:
data.columns

Index(['Amount_Requested', 'Amount_Funded_By_Investors', 'Interest_Rate',
       'Loan_Length', 'Loan_Purpose', 'Debt_To_Income_Ratio', 'State',
       'Home_Ownership', 'Monthly_Income', 'FICO_Range', 'Open_CREDIT_Lines',
       'Revolving_CREDIT_Balance', 'Inquiries_in_the_Last_6_Months',
       'Employment_Length'],
      dtype='object')

In [4]:
data.isnull().sum()

Amount_Requested                   1
Amount_Funded_By_Investors         1
Interest_Rate                      2
Loan_Length                        0
Loan_Purpose                       0
Debt_To_Income_Ratio               1
State                              0
Home_Ownership                     1
Monthly_Income                     1
FICO_Range                         2
Open_CREDIT_Lines                  3
Revolving_CREDIT_Balance           3
Inquiries_in_the_Last_6_Months     3
Employment_Length                 77
dtype: int64

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2500 entries, 0 to 2499
Data columns (total 14 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Amount_Requested                2499 non-null   float64
 1   Amount_Funded_By_Investors      2499 non-null   float64
 2   Interest_Rate                   2498 non-null   object
 3   Loan_Length                     2500 non-null   object
 4   Loan_Purpose                    2500 non-null   object
 5   Debt_To_Income_Ratio            2499 non-null   object
 6   State                           2500 non-null   object
 7   Home_Ownership                  2499 non-null   object
 8   Monthly_Income                  2499 non-null   float64
 9   FICO_Range                      2498 non-null   object
 10  Open_CREDIT_Lines               2497 non-null   float64
 11  Revolving_CREDIT_Balance        2497 non-null   float64
 12  Inquiries_in_the_Last_6_Months  2497 non-null   float64
 13  Employment_Length               2423 non-null   object
dtypes: float64(6), object(8)
memory usage: 273.6+ KB

In [6]:
data.shape

(2500, 14)

In [7]:
data = data.dropna()

In [8]:
data.isnull().sum()

Amount_Requested                  0
Amount_Funded_By_Investors        0
Interest_Rate                     0
Loan_Length                       0
Loan_Purpose                      0
Debt_To_Income_Ratio              0
State                             0
Home_Ownership                    0
Monthly_Income                    0
FICO_Range                        0
Open_CREDIT_Lines                 0
Revolving_CREDIT_Balance          0
Inquiries_in_the_Last_6_Months    0
Employment_Length                 0
dtype: int64

In [9]:
data.dtypes

Amount_Requested                  float64
Amount_Funded_By_Investors        float64
Interest_Rate                      object
Loan_Length                        object
Loan_Purpose                       object
Debt_To_Income_Ratio               object
State                              object
Home_Ownership                     object
Monthly_Income                    float64
FICO_Range                         object
Open_CREDIT_Lines                 float64
Revolving_CREDIT_Balance          float64
Inquiries_in_the_Last_6_Months    float64
Employment_Length                  object
dtype: object

In [10]:
data.head()

,Amount_Requested,Amount_Funded_By_Investors,Interest_Rate,Loan_Length,Loan_Purpose,Debt_To_Income_Ratio,State,Home_Ownership,Monthly_Income,FICO_Range,Open_CREDIT_Lines,Revolving_CREDIT_Balance,Inquiries_in_the_Last_6_Months,Employment_Length
0,20000.0,20000.0,8.90%,36 months,debt_consolidation,14.90%,SC,MORTGAGE,6541.67,735-739,14.0,14272.0,2.0,< 1 year
1,19200.0,19200.0,12.12%,36 months,debt_consolidation,28.36%,TX,MORTGAGE,4583.33,715-719,12.0,11140.0,1.0,2 years
2,35000.0,35000.0,21.98%,60 months,debt_consolidation,23.81%,CA,MORTGAGE,11500.00,690-694,14.0,21977.0,1.0,2 years
3,10000.0,9975.0,9.99%,36 months,debt_consolidation,14.30%,KS,MORTGAGE,3833.33,695-699,10.0,9346.0,0.0,5 years
4,12000.0,12000.0,11.71%,36 months,credit_card,18.78%,NJ,RENT,3195.00,695-699,11.0,14469.0,0.0,9 years

In [11]:
data.columns

Index(['Amount_Requested', 'Amount_Funded_By_Investors', 'Interest_Rate',
       'Loan_Length', 'Loan_Purpose', 'Debt_To_Income_Ratio', 'State',
       'Home_Ownership', 'Monthly_Income', 'FICO_Range', 'Open_CREDIT_Lines',
       'Revolving_CREDIT_Balance', 'Inquiries_in_the_Last_6_Months',
       'Employment_Length'],
      dtype='object')

In [12]:
data['Interest_Rate'] = data['Interest_Rate'].str.strip('%').astype('float')

In [13]:
data['Debt_To_Income_Ratio'] = data['Debt_To_Income_Ratio'].str.strip('%').astype('float')

In [14]:
data['Loan_Length'] = data['Loan_Length'].str.strip('months').astype('int')

In [15]:
data.head()

,Amount_Requested,Amount_Funded_By_Investors,Interest_Rate,Loan_Length,Loan_Purpose,Debt_To_Income_Ratio,State,Home_Ownership,Monthly_Income,FICO_Range,Open_CREDIT_Lines,Revolving_CREDIT_Balance,Inquiries_in_the_Last_6_Months,Employment_Length
0,20000.0,20000.0,8.90,36,debt_consolidation,14.90,SC,MORTGAGE,6541.67,735-739,14.0,14272.0,2.0,< 1 year
1,19200.0,19200.0,12.12,36,debt_consolidation,28.36,TX,MORTGAGE,4583.33,715-719,12.0,11140.0,1.0,2 years
2,35000.0,35000.0,21.98,60,debt_consolidation,23.81,CA,MORTGAGE,11500.00,690-694,14.0,21977.0,1.0,2 years
3,10000.0,9975.0,9.99,36,debt_consolidation,14.30,KS,MORTGAGE,3833.33,695-699,10.0,9346.0,0.0,5 years
4,12000.0,12000.0,11.71,36,credit_card,18.78,NJ,RENT,3195.00,695-699,11.0,14469.0,0.0,9 years

In [16]:
data.dtypes

Amount_Requested                  float64
Amount_Funded_By_Investors        float64
Interest_Rate                     float64
Loan_Length                         int32
Loan_Purpose                       object
Debt_To_Income_Ratio              float64
State                              object
Home_Ownership                     object
Monthly_Income                    float64
FICO_Range                         object
Open_CREDIT_Lines                 float64
Revolving_CREDIT_Balance          float64
Inquiries_in_the_Last_6_Months    float64
Employment_Length                  object
dtype: object

##  Hypothesis Analysis

### Interest rate is Varied for different loan amounts 
* H0: Interest rate is not varied for different loan amounts (no significant difference)
* H1: Interest rate is varied for different loan amounts (significant difference)

In [17]:
from scipy.stats import ttest_ind

#Defining high amount and low loan amount groups
high_amount = data[data['Amount_Requested']  > data['Amount_Requested'].median()]
low_amount = data[data['Amount_Requested']  <= data['Amount_Requested'].median()]

#Performing t-test 
t_stat, p_val = ttest_ind(high_amount['Interest_Rate'], low_amount['Interest_Rate'])
print(f"T-statistic: {t_stat}, p-value: {p_val}\n")

print('At 95% confidence level\n')

#Interpertation
if p_val < 0.05:    
    print("Rejecting the null hypothesis: Interest rate is significantly different for high vs low amounts.\n")
    print("Accepting the alternative hypothesis: Interest rates vary depending on the loan amount.")
else:
    print("Fail to reject the null hypothesis: No significant difference in interest rate for high vs low amounts.")
    print("This suggests that interest rates do not vary significantly based on the loan amount.")

T-statistic: 12.32473726335006, p-value: 6.8307258789811505e-34

At 95% confidence level

Rejecting the null hypothesis: Interest rate is significantly different for high vs low amounts.

Accepting the alternative hypothesis: Interest rates vary depending on the loan amount.

## Loan length is directly effecting interest rate.
* H0: Loan length is not affecting interest rate
* H1: Loan length is directly affecting rate

In [18]:
data.columns

Index(['Amount_Requested', 'Amount_Funded_By_Investors', 'Interest_Rate',
       'Loan_Length', 'Loan_Purpose', 'Debt_To_Income_Ratio', 'State',
       'Home_Ownership', 'Monthly_Income', 'FICO_Range', 'Open_CREDIT_Lines',
       'Revolving_CREDIT_Balance', 'Inquiries_in_the_Last_6_Months',
       'Employment_Length'],
      dtype='object')

In [19]:
from scipy.stats import f_oneway 

#Grouping data by loan length and collect interest rates 
loan_length_36 = data[data['Loan_Length'] == 36]['Interest_Rate']
loan_length_60 = data[data['Loan_Length'] == 60]['Interest_Rate']

#Performing ANOVA
f_stat, p_val = f_oneway(loan_length_36, loan_length_60)
print(f"F-statistic: {f_stat}, p-value: {p_val}\n")

print('At 95% confidence level\n')

#Interpretation of result 
if p_val < 0.05: 
    print("Rejecting the null hypothesis: Loan length significantly affects the interest rate.")
    print("Accepting the alternative hypothesis: Loan length is directly affecting the interest rate.")
else:
    print("Fail to reject the null hypothesis: Loan length does not significantly affect the interest  rate.")
    print("This suggests that loan length is not directly affecting the interest rate.")

F-statistic: 531.6618311658129, p-value: 1.7938010673422317e-106

At 95% confidence level

Rejecting the null hypothesis: Loan length significantly affects the interest rate.
Accepting the alternative hypothesis: Loan length is directly affecting the interest rate.

# Interest Rate varies for different purpose of loans 
### *H0: Interest rate does not vary for different purpose of loans
### *H1: Interest rate varies for different purpose of loans

In [20]:
data.Loan_Purpose.nunique()

14

In [21]:
g1 = data.loc[data['Loan_Purpose'] == 'car']['Interest_Rate']
g2 = data.loc[data['Loan_Purpose'] == 'credit_card']['Interest_Rate']
g3 = data.loc[data['Loan_Purpose'] == 'debt_consolidation']['Interest_Rate']
g4 = data.loc[data['Loan_Purpose'] == 'educational']['Interest_Rate']
g5 = data.loc[data['Loan_Purpose'] == 'home_improvement']['Interest_Rate']
g6 = data.loc[data['Loan_Purpose'] == 'house']['Interest_Rate']
g7 = data.loc[data['Loan_Purpose'] == 'major_purchase']['Interest_Rate']
g8 = data.loc[data['Loan_Purpose'] == 'medical']['Interest_Rate']
g9 = data.loc[data['Loan_Purpose'] == 'moving']['Interest_Rate']
g10 = data.loc[data['Loan_Purpose'] == 'other']['Interest_Rate']   
g11 = data.loc[data['Loan_Purpose'] == 'renewable_energy']['Interest_Rate']
g12 = data.loc[data['Loan_Purpose'] == 'small_business']['Interest_Rate']
g13 = data.loc[data['Loan_Purpose'] == 'vacation']['Interest_Rate']
g14 = data.loc[data['Loan_Purpose'] == 'wedding']['Interest_Rate']

In [22]:
from scipy.stats import f_oneway

#Performing ANOVA 
f_stat, p_val = f_oneway(g1, g2, g3, g4, g5, g6, g7, g8, g9, g10, g11, g12, g13, g14)

print(f"F-statistic : {f_stat}, p-value: {p_val}\n")

#Interpretation
if p_val < 0.05:
    print("Reject the null hypothesis: Interest rate varies for different purposes of loans.")
else:
    print("Fail to reject the null hypothesis: Interest rate does not vary for different purposes of loans.")

F-statistic : 7.330838185919651, p-value: 2.7646672581411367e-14

Reject the null hypothesis: Interest rate varies for different purposes of loans.

# Checking the relationship between FICO and Score Range and Home Ownership
### *H0: There is no relationship between FICO Scores and Home Ownership
### *H1: There is a relationship betwee FICO and Home Ownership

In [25]:
data['Home_Ownership'].value_counts()

Home_Ownership
RENT        1110
MORTGAGE    1109
OWN          189
OTHER          5
Name: count, dtype: int64

In [24]:
from scipy import stats 

#Creating the crosstab
Cross_Table = pd.crosstab(data['FICO_Range'], data['Home_Ownership'], margins=True)

#Performing Chi-square Test
chi2, p_val, dof, expected = stats.chi2_contingency(Cross_Table)

#Printing Results and Interpretations
print("Chi-Square Test Resullts\n")
print(f"Chi-Square Statistic: {chi2:.4f}")
print(f"p-value: {p_val:.4f}")
print("\nInterpretation:")
if p_val < 0.05: 
    print("Reject H0: There is a relationship between FICO and Home Ownership.")
else:
    print("Fail to reject H0: There is no relationship between FICO and Home Ownership.")

Chi-Square Test Resullts

Chi-Square Statistic: 269.7881
p-value: 0.0000

Interpretation:
Reject H0: There is a relationship between FICO and Home Ownership.

In [26]:
Cross_Table

Home_Ownership  MORTGAGE  OTHER  OWN  RENT   All
FICO_Range
640-644                0      0    1     4     5
645-649                1      0    0     2     3
650-654                1      0    0     0     1
655-659                0      1    0     3     4
660-664               40      0   14    64   118
665-669               52      0   17    69   138
670-674               66      1   13    87   167
675-679               78      1   10    72   161
680-684               55      2    9    91   157
685-689               58      0   10    60   128
690-694               52      0    9    74   135
695-699               64      0   10    72   146
700-704               57      0   10    57   124
705-709               65      0   12    54   131
710-714               52      0   10    45   107
715-719               45      0    2    45    92
720-724               46      0    0    62   108
725-729               45      0    5    41    91
730-734               46      0    7    41    94
735-739               30      0    6    29    65
740-744               24      0    4    22    50
745-749               26      0    7    21    54
750-754               32      0    4    24    60
755-759               27      0    5    12    44
760-764               27      0    4    14    45
765-769               18      0    3    11    32
770-774               12      0    1     4    17
775-779               13      0    3     6    22
780-784               19      0    3     4    26
785-789               12      0    1     4    17
790-794               15      0    1     4    20
795-799                7      0    1     5    13
800-804                7      0    3     2    12
805-809                6      0    2     3    11
810-814                5      0    1     2     8
815-819                5      0    0     0     5
820-824                0      0    1     0     1
830-834                1      0    0     0     1
All                 1109      5  189  1110  2413